*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.container{
    width: 1216px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
}

.card{
    width: 288px;
    border: 1px solid red;
}

.card__info {
    padding: 10px;
}

.card__title {
    padding: 24px 0;
}